@use "../partials/mixins" as m;
@use "../partials/functions" as f;

@layer components {
    .nav-members {
        @include m.absolute();
        z-index: 5;
        flex-shrink: 0;
        background-color: var(--background-color);
        padding: 2rem;
        margin: 1rem;
        border: thin solid var(--border-color);
        border-radius: 1rem;
        @include m.boxShadow();
        @include m.flexbox($direction: column, $gap: 1.5rem);

        &__header {
            @include m.flexbox($align: center, $gap: 1rem, $direction: row-reverse);
            & h2 {
                font-size: f.rem(25);
                margin: 0;
            }
        }

        &__toggle {
            @include m.resetButton;
            height: 2.5rem;
            aspect-ratio: 1;
            svg {
                height: 100%;
                width: 100%;
                fill: var(--text-color);
            }
        }

        &__content {
            overflow-y: auto;
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            @include m.flexbox($direction: column, $gap: 1.5rem);
            max-height: 100vh;
            // transition: all 500ms ease-in-out;
        }
        
        

        &__search {
            height: 3rem;
            border: thin solid var(--border-color);
            border-radius: 0.75rem;
            @include m.flexbox();

            & input {
                background-color: transparent;
                border: none;
                width: 100%;
                padding: f.rem(10);
                padding-left: f.rem(5);

                &:focus {
                    outline: none
                }
            }

            & button {
                @include m.resetButton;
                color: var(--white);
                width: 3rem;
                padding: 0.5rem;
                border-radius: 0.75rem;
                transition: background-color 200ms;

                & svg {
                    fill: var(--neutral-200);
                }
            }
        }
        


        &__list {
            @include m.resetList;
            @include m.flexbox($direction: column);
            flex-grow: 1;
            overflow-y: scroll;
            position: relative;

            a {
                @include m.resetA();
                @include m.flexbox($align: center, $gap: 1rem);
                padding: f.rem(10);
                border-radius: 10000px;
                transition: all 200ms;
                &:hover {
                    background-color: var(--border-color);
                }
            }

            &::after {
                display: block;
                content: '';
                position: sticky;
                bottom: 0;
                padding: 2rem;
                background: linear-gradient(
                    to bottom,
                    transparent,
                    var(--background-color)
                );
            }


            @include m.scrollbar();
            
        }

        &__selected {
            border: thin solid var(--border-color);
        }


        &__img-profile {
            display: block;
            width: 3rem;
            aspect-ratio: 1;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 1000px;
            transition: all 300ms;
        }

        @media (width >= f.screen(sm)) {
            left: auto;
            width: f.rem(300);
        }

        @media (width <= f.screen(md)){
            &--collapsed {
                z-index: 3;
                @include m.absolute($top: 0, $bottom: auto, $left: auto, $right: 0);
                height: fit-content;
                width: fit-content;
                display: block;
                padding: 1rem;

    
                .nav-members__header {
                    & h2 {
                        display: none;
                    }
                }
                .nav-members__content {
                    display: none;

                }
            }
            
        }

        

        @media (width >= f.screen(md)) {
            position: static;
            max-width: f.rem(280);

        }

        @media (width >= f.screen(lg)) {
            position: static;
            max-width: f.rem(300);
        }
        
        
    }
}